<nav class="navigation max-width-1 ">
    <div class="nav_left">
        <span>iBlogger</span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="about">About</a></li>
        </ul>
    </div>
    <div class="nav_right">
        <form action="/search.html" method="get">
            <input class="from-input" type="text" name="query" placeholder="Artical Search">
            <button class="btn">Searchs</button>
        </form>

    </div>
</nav>
<div class="max-width-1 m-auto my-2">
    <hr>
</div>