<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
    {{>navbar}}
    
   <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad atque maiores hic excepturi, libero eum cumque deleniti culpa error deserunt vitae quidem cupiditate reiciendis explicabo, sequi delectus nulla, fugit </h1>
    {{>footer}}

</body>

</html>