<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
    {{>navbar}}
    
    <div class="contact_content font1">
        <div class="max-width-1 m-auto">
            <h2>Feel Free to ContactUs</h2>

            <div class="contact_form">
                <div class="form_box">
                    <input type="text" placeholder="Enter Your Name">
                </div>
                <div class="form_box">
                    <input type="email" placeholder="Enter Your Email">
                </div>
                <div class="form_box">
                    <input type="number" placeholder="Enter Your Phone Number">
                </div>
                <div class="form_box">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="form_box">
                    <button class="btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}

</body>

</html>